.work-container {
  margin-bottom: 6rem;
  padding-bottom: 14rem;
}

.projects-title {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 6rem;
  text-align: center;
}

.projects-title hr {
  color: #ffabab;
  background-color: #ffabab;
  width: 6rem;
  height: 2px;
  border: 0;
  margin: 0 auto;

  /* padding-right: 10rem; */
}

.projects-title span {
  color: #333;
}

.work-list {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

.work-item {
  object-fit: cover;
  border-radius: 10px;
}

.item-container {
  overflow: hidden;
}

.item-container img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.item-container :hover {
  transform: scale(1.1);
  opacity: 0.6;
}
